.login-page {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../assets/bg1.jpg") center center / cover no-repeat fixed;
}
  .login-bg{
    padding-top: 200px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
  }
  form{
    padding: 20px 30px 20px 30px;
  }
  .account-container {
    position: relative;
    z-index: 1001;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 40px 40px;
    border-radius: 10px;
    background-color: #fff;
}
.account-container h2 {
    margin: 0 0 25px;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    color: #323a45;
}
  .account-container .account-input input{
    width: 308px !important;
  }
  .account-container button{
    width: 308px !important;
  }

  .login-bg .f-item{
    margin-bottom: 15px;
  }
  .login-bg .el-form-item__content{
    margin-left: 0 !important;
  }
  .login-bg .el-button .submit-btn{
    margin-top: 50px;
  }